<div class="card" style="width: 40rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{poll.question}}</h5>
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-primary">{{poll.options[0]}}</button>
            <button type="button" class="btn btn-outline-primary">{{poll.options[1]}}</button>
            <button type="button" class="btn btn-outline-primary">{{poll.options[2]}}</button>
            <button type="button" class="btn btn-outline-primary">Mid{{poll.options[3]}}</button>
          </div>
    </div>
</div>